#main{
  grid-template-columns: repeat(30, minmax(0, 1fr));
  position: relative;
}
.cell{
  text-align: center;
  position: absolute;
}
.cell > input{
  cursor: cell;
}
#showEqu{
  display: none;
  position: sticky;
  left: 5rem;
}